.NToc__container {
	position: absolute;
	top: 6%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: var(--layer-popover);

	&.NToc__container-left {
		right: auto;

		.NToc__group {
			padding-left: 16px;
			margin-left: -16px;
		}

		.NToc__group-content {
			left: 0;
			right: auto;
			margin-left: 8px;
			transform: translateX(-8px);
		}

		.NToc__group-resize {
			right: 0;
		}
	}
	&.NToc__container-right {
		left: auto;

		.NToc__group {
			padding-right: 16px;
			margin-right: -16px;
		}

		.NToc__group-content {
			right: 0;
			left: auto;
			margin-right: 8px;
			transform: translateX(8px);
		}

		.NToc__group-resize {
			left: 0;
		}
	}
}

.NToc__group {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&.NToc__group-hidden {
		display: none;
	}
}

.NToc__group-content {
	position: relative;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease;
	display: flex;
	flex-direction: column;

	&.NToc__group-content-expanded {
		opacity: 1;
		visibility: visible;
	}

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-bg);
		border-radius: 3px;
	}
}

.NToc__group-resize {
	position: absolute;
	top: 0;
	height: 100%;
	width: 4px;
	cursor: ew-resize;
	background: transparent;
	transition: background-color 150ms ease;
	z-index: 1;

	&:hover {
		background-color: var(--interactive-accent);
	}
}

.NToc__toc-items {
	position: relative;
	background: var(--background-primary);
	border-radius: 4px;
	box-shadow: var(--shadow-s);
	min-width: 10dvw;
	max-width: 80dvw;
	max-height: 75dvh;
	min-height: max(100px, 10dvh);
	overflow-y: auto;
	overscroll-behavior: contain;
}
